body{
    background-color: #242424;
    color: whitesmoke;
}

hr{
    width: 88%;
    margin: auto;
    border-color: rgba(245, 245, 245, 0.53);
}

#title-banner-store{
    position: absolute;
    margin-top: 8em;
    margin-left: 2em;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.8em
}

#banner-items{
    display: flex;
    justify-content: flex-start;
}
#banner-items div{
    padding: 0.3em;
    margin-top: 0.3em;
}
#banner-discount{
    background: linear-gradient(90deg, rgba(233,15,15,1) 10%, rgba(255,108,41,1) 87%);
    border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
    height: 1.2em;
    width: 2em;
    display: flex;
    justify-content: center
}
#banner-discount p{
    font-size: 0.7em;
    margin: auto;
}
#banner-price{
    padding-left: 0.7em!important;
    font-size: 1.2em;
}
.dimm-text{
    color: #bababa;
}

.banner-store{
    height: 38em;
    overflow: hidden;
    background-color: #080e0f!important;
    background: url(../pics/eldenbannerextend.png) no-repeat center;
    background-size: cover;
    /*background-position: center -20em;*/
    background-attachment: fixed;
    /*
    -webkit-mask-image: url(../pics/banner-mask.png);
    mask-image: url(../pics/banner-mask.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: bottom;
    mask-repeat: no-repeat;
    */
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 89%);
}

.contenidos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: space-around
}

.store-content{
    max-width: 88em;
    margin: auto;
    padding: 1em;
}
.store-content-ban{
    max-width: 94em;
    margin: auto
}
.content-desc{
    display: flex;
    justify-content: space-between;
}

.contenidos p{
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.1em;
    padding-bottom: 0.7em
}

.content-div{
    width: 28em;
    height: 20em;
}

.content-img{
    filter: drop-shadow(0.2em 0.2em 0.2em rgba(0, 0, 0, 0.65));
    transition: transform .2s;
    height: 16em
}

.content-img:hover{
    transform: scale(1.06)
}

.content-img img{
    max-width: 28em;
    border-radius: 20px;
    display: flex;
}
.content-img video{
    max-width: 28em;
    border-radius: 20px;
    display: none;
}
.section{
    background-color: black;
}